# Dipam

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from math import pi

In [2]:
#gathering data
data=pd.read_csv('Student Gradebook - August.csv')

In [3]:
data.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,0,AjKyaUkhada,2019-08-01 13:26:57,Ritual,Consistency,Sonali,0,2.0,2,0
1,0,AjKyaUkhada,2019-08-01 14:40:42,Ritual,Consistency,Chandrima,0,2.0,2,0
2,0,AjKyaUkhada,2019-08-01 14:44:34,Ritual,Consistency,Purbita,0,2.0,2,0
3,0,AjKyaUkhada,2019-08-01 14:47:05,Ritual,Consistency,Kunal,0,2.0,2,0
4,0,AjKyaUkhada,2019-08-01 14:48:11,Ritual,Consistency,Kaushal,0,2.0,2,0

In [4]:
data_august=data  #basically to understand that it is the dataset of august

In [5]:
data_august.shape

(911, 10)

In [6]:
data_july=pd.read_csv('Student Gradebook - July.csv')

In [7]:
data_july.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,1,Linkedin Profile create/update,7/22/2019,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0
1,1,Linkedin Profile create/update,7/22/2019,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0
2,1,Linkedin Profile create/update,7/22/2019,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0
3,1,Linkedin Profile create/update,7/22/2019,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0
4,1,Linkedin Profile create/update,7/22/2019,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0

In [8]:
data_july.columns

Index(['id', 'Task', 'Date', 'Module', 'Type', 'Student', 'Late Submission',
       'Points', 'Total', 'Task Winner'],
      dtype='object')

In [9]:
#data cleaning
data_july.drop(columns=['Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21','Unnamed: 22'],inplace=True)

KeyError: "['Unnamed: 10' 'Unnamed: 11' 'Unnamed: 12' 'Unnamed: 13' 'Unnamed: 14'\n 'Unnamed: 15' 'Unnamed: 16' 'Unnamed: 17' 'Unnamed: 18' 'Unnamed: 19'\n 'Unnamed: 20' 'Unnamed: 21' 'Unnamed: 22'] not found in axis"

In [ ]:
data_july.shape

In [ ]:
data_september=pd.read_csv('Student Gradebook - September.csv')

In [ ]:
data_september.head()

In [ ]:
data=pd.concat([data_july,data_august,data_september])

In [ ]:
data.shape

In [ ]:
data_august.shape

In [ ]:
data_august.columns

In [ ]:
data.fillna({'Student':'No Student'},inplace=True)
data.fillna({'Task':'No Task'},inplace=True)
data.fillna({'Date':'0'},inplace=True)
data.fillna({'Module':'No Module'},inplace=True)
data.fillna({'Type':'No Type'},inplace=True)
data.fillna({'Late Submission':'0'},inplace=True)
data.fillna({'Points':'0.0'},inplace=True)
data.fillna({'Total':'0'},inplace=True)
data.fillna({'Task Winner':'0'},inplace=True)
data.fillna({'id':'0'},inplace=True)

In [ ]:
data.columns

In [ ]:
data['Points']=data['Points'].astype(float)

In [ ]:
data=data.drop(0)
data=data.drop([299,429,1492])
data=data.drop([151,376,912])
data=data.drop([316])

In [ ]:
data.info()

In [ ]:
a=data['Task'].value_counts().index
highest=[]
for i in a:
    highest.append(max(data[data['Task']==i]['Points']))

In [ ]:
data_highest_table = {'Task':a, 'Highest':highest} 
data_high=pd.DataFrame(data_highest_table)
data=data.merge(data_high, on='Task')

# creating a function where we have entered the name of the student

In [ ]:
def student(name):
    data_tasks=data
    data_student=data_tasks[data_tasks['Student']==name] 
    print("THE NAME OF THE STUDENT: ",name)
    x=data_student['Total'].sum()
    print("TOTAL MARKS OF THE TASKS: ",x)
    y=data_student['Points'].sum()
    print("THE MARKS OBTAINED BY THE STUDENT: ",y)
    average=(y/x)*100
    print("THE PERCENTAGE: ",average,"%")
    if(average>=90):
        print("GRADE: 0 (OUTSTANDING)")
    elif(average>=80):
        print("GRADE: E (EXCELLENT)")
    elif(average>=70):
        print("GARDE: A++ (VERY GOOD)")
    elif(average>=60):
        print("GRADE: A (GOOD)")
    elif(average)>=50:
        print("GRADE: B (FAIR)")
    elif(average>=40):
        print("GARDE: C (SATISFACTORY)")
    elif(average>=30):
        print("GARDE: D (TRY TO IMPROVE)")
    else:
        print("GRADE: F (FAIL)")
    m=len(data_student[data_student['Task Winner']==1])
    print("TASK WINNER: ",m,"times")
    data_profile=data_student[data_student['Module']=='Profile Building']
    data_profile_marks=(data_profile['Points'].sum()/data_profile['Total'].sum())*100
    print("PROFILE BULIDING PERCENTILE: ",data_profile_marks,"%")
    data_consistency=data[data['id']==0]
    data_consistency_student=data_consistency[data_consistency['Student']==name]
    a=len(data_consistency[data_consistency['Student']==name])
    b=len(data_consistency_student[data_consistency_student['Task']=='Knowledge Sharing'])
    knowledge=(b/a)*100
    print("KNOWLEDGE SHARING PERCENTILE: ",knowledge,"%")
    print("Result Analysis")
    x1=data_student.pivot_table(index='Module',values='Points',aggfunc='sum')
    y1=data_student.pivot_table(index='Module',values='Total',aggfunc='sum')
    w1=data_student.pivot_table(index='Module',values='Highest',aggfunc='sum')
    z1=pd.concat([x1,y1,w1],axis=1)
    subject_percentile=[x1['Points']/y1['Total']*100]
    z1['Percentile']=" "
    for i in range(len(z1)):
        z1['Percentile'][i]=subject_percentile[0][i]
    print(z1)

In [ ]:
student('Shakib')

In [ ]:
student('Dipam')

In [ ]:
data_dipam_full=data[data['Student']=='Dipam']

In [ ]:
a=data_dipam_full['Module'].value_counts().index.tolist()

In [ ]:
x=data_dipam_full.pivot_table(index='Module',values='Points',aggfunc='sum')

In [ ]:
y=data_dipam_full.pivot_table(index='Module',values='Total',aggfunc='sum')

In [ ]:
w=data_dipam_full.pivot_table(index='Module',values='Highest',aggfunc='sum')

In [ ]:
z=pd.concat([x,y,w],axis=1)

In [ ]:
subject_percentile=[x['Points']/y['Total']*100]

In [ ]:
subject_percentile[0][1]

In [ ]:
z['Percentile']=" "
for i in range(len(z)):
    z['Percentile'][i]=subject_percentile[0][i]

In [ ]:
z

In [ ]:
z.to_html('z.html')

In [ ]:
from datetime import datetime
from datetime import date
from datetime import time

In [ ]:
student('Kunal')

In [ ]:
user=pd.read_csv('users - users.csv')

In [ ]:
def user_info(student):
    data=user[user['fname']==student]
    print("EMAIL: ",data['email'])
    print("COLLEGE: ",data['college'])
    print("STREAM: ",data['branch'])
    print("GITHUB LINK: ",data['github'])

In [ ]:
user_info('Dipam')

In [ ]:
user.head()

In [ ]:
df=pd.read_html('z.html')

In [ ]:
df[0].values.tolist()

# creaating the class

In [ ]:
class info_of_student():
   def student(name):
    data_tasks=data
    data_student=data_tasks[data_tasks['Student']==name] 
    name=name
    college=user[user['fname']==student]['college']
    branch=user[user['fname']==student]['branch']
    Date=str(today.strftime("%d/%m/%Y"))
    Number_of_task_wins=str(len(data_student[data_student['Task Winner']==1]))
    total_marks=data_student['Total'].sum()
    obtained_marks=data_student['Points'].sum()
    average=(obtaied_marks/total_marks)*100
    data_profile=data_student[data_student['Module']=='Profile Building']
    data_profile_marks=(data_profile['Points'].sum()/data_profile['Total'].sum())*100
    profile_building_percentile=data_profile_marks
    data_consistency=data[data['id']==0]
    data_consistency_student=data_consistency[data_consistency['Student']==name]
    a=len(data_consistency[data_consistency['Student']==name])
    b=len(data_consistency_student[data_consistency_student['Task']=='Knowledge Sharing'])
    knowledge=(b/a)*100
    knowledge_sharing_percentile=knowledge
    x1=data_student.pivot_table(index='Module',values='Points',aggfunc='sum')
    y1=data_student.pivot_table(index='Module',values='Total',aggfunc='sum')
    w1=data_student.pivot_table(index='Module',values='Highest',aggfunc='sum')
    z1=pd.concat([x1,y1,w1],axis=1)
    subject_percentile=[x1['Points']/y1['Total']*100]
    z1['Percentile']=" "
    for i in range(len(z1)):
        z1['Percentile'][i]=subject_percentile[0][i]
    z1.to_html('z_total.html')
    df=pd.read_html('z_total.html')
    Table_elements=df[0].values.tolist()

In [ ]:
data_september[data_september['Student']=='Dipam'].head()

In [ ]:
m=data_september.groupby('Student')['Points'].sum().sort_values(ascending=False)

In [ ]:
n=data.groupby('Student')['Points'].sum().sort_values(ascending=False)

In [ ]:
data_dipam_full['Points'].sum()

In [ ]:
data_september[data_september['Student']=='Dipam']['Points'].sum()

In [ ]:
a1

In [ ]:
a1=data_september['Task'].value_counts().index
highest_september=[]
for i in a1:
    highest_september.append(max(data_september[data_september['Task']==i]['Points']))
data_highest_table_september = {'Task':a1, 'Highest':highest_september} 
data_high_september=pd.DataFrame(data_highest_table_september)
data_september=data_september.merge(data_high_september, on='Task')

In [ ]:
data_dipam_full_sep=data_september[data_september['Student']=='Dipam']
x1=data_dipam_full_sep.pivot_table(index='Module',values='Points',aggfunc='sum')
y1=data_dipam_full_sep.pivot_table(index='Module',values='Total',aggfunc='sum')
w1=data_dipam_full_sep.pivot_table(index='Module',values='Highest',aggfunc='sum')
z1=pd.concat([x1,y1,w1],axis=1)
subject_percentile=[x1['Points']/y1['Total']*100]
z1['Percentile']=" "
for i in range(len(z1)):
    z1['Percentile'][i]=subject_percentile[0][i]
z1

In [ ]:
z1.rename(columns={'Points':'Points_month','Total':'Total_month','Percentile':'Percentile_month','Highest':'Highest_month'},inplace=True)

In [ ]:
z_comparison=pd.concat([z,z1],axis=1)

# comparison of month vs total

In [ ]:
z_comparison

In [ ]:
list(z.index)

In [ ]:
labels=np.array(z.index)

In [ ]:
labels

In [ ]:
points=[]
for i in range(len(z)):
    points.append(z.values[i][0])

stats=points

In [ ]:
stats

In [ ]:
angles=np.linspace(0, 2*np.pi, len(labels), endpoint=False)
# close the plot
stats=np.concatenate((stats,[stats[0]]))
angles=np.concatenate((angles,[angles[0]]))

In [ ]:
ax = plt.subplot(111, polar=True)

#Add the attribute labels to our axes
plt.xticks(angles[:-1],labels)

#Plot the line around the outside of the filled area, using the angles and values calculated before
ax.plot(angles,stats)

#Fill in the area plotted in the last line
ax.fill(angles, stats, 'teal', alpha=0.1)

#Give the plot a title and show it
ax.set_title("Result")
plt.show()

In [ ]:
def plot(data):
    labels=np.array(data.index)
    stats=data.values
    angles=np.linspace(0, 2*np.pi, len(labels), endpoint=False)
    stats=np.concatenate((stats,[stats[0]]))
    angles=np.concatenate((angles,[angles[0]]))
    ax = plt.subplot(111, polar=True)
    plt.xticks(angles[:-1],labels)
    ax.plot(angles,stats)
    ax.fill(angles, stats, 'teal', alpha=0.1)
    ax.set_title("Result")
    plt.show()

In [ ]:
plot(z)

In [ ]:
plot(z_comparison)

In [ ]:
points=[]
for i in range(len(z_total)):
    points.append(z_total.values[i][0])

In [ ]:
points

In [ ]:
plot(z)

In [ ]:
plot(z_comparison)